[Unit]
Description=Website
After=network.target

[Service]
User=hmeqo
ExecStart=/srv/http/www/django-nuxt-template/manage.sh start
Restart=always

[Install]
WantedBy=multi-user.target
